* {
  margin: 0px;
  box-sizing: border-box;

  /*border: solid 3px red;*/
}

/* colores */
:root {
  --brand-first-color: #099d8d;
  --brand-second-color: #14d9c4;
  --text-header-color: white;
  --text-main-color: #54585a;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap)
      rel= "stylesheet" >;
  /* url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2)
      format("woff2"); */
}

/* header */

.header {
  background-image: url(./img/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 421px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Código Lissandra */

/* menu del grupo */
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 45px;
  opacity: 0.9;
  background-color: var(--brand-second-color);
}

.container-menu {
  width: 100%;
}

/* nombre del grupo */
.group-name {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--brand-first-color);
  opacity: 0.95;
  height: 60px;
}
.name-ada {
  color: var(--text-header-color);
  font-family: "Rubik", sans-serif;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  margin: 15px 80px;
}

.ul-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
}

.list {
  display: inline;
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
  padding: 8px 0px 7px 0px;
  text-align: center;
}

.link {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: var(--text-header-color);
  font-size: 15px;
  font-weight: 500;
  /* line-height: 2px; */
}

/* slogan */

.slogan {
  color: black;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  background-color: white;
  width: 90.625%;
  height: 80px;
  box-sizing: border-box;
  margin: 0px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
}

/* EQUIPO - fortalezas y debilidades */

.article-two::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  /* border: 2px solid blue; */
  transform: rotate(45deg) translate(-55px, -10px);
  background-color: var(--text-header-color);
}
.article-one,
.article-two {
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
  color: var(--text-main-color);
  width: 100%; /*320px;*/ /* width: 100% cuando el responsive?*/
  height: auto;
  display: block;
  padding: 30px;
  margin-top: 15px;
}

.team-description {
  font-family: "Open Sans";
  font-weight: 700;
  color: var(--brand-second-color);
  text-align: center;
  margin: 30px 30px 15px 30px;
}

.article-two {
  background: #b8b8b9;
}
.group-atributes {
  font-family: "Open Sans";
  color: var(--brand-first-color);
  text-align: center;
  font-size: 22px;
  padding: 20px;
}

/*Textos*/
.name,
.about-us,
.description {
  text-align: center;
  margin: 0px 10px 0px 10px;
}
.name,
.description {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.5;
}
.name {
  font-size: 18px;
  padding: 10px 0px 10px 0px;
}

.about-us {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.88;
  color: var(--brand-first-color);
}

.description {
  color: var(--text-main-color);
}

/*Fotografías integrantes*/
.photo {
  border: 5px solid rgba(0, 0, 0, 0.08);
  margin: 10px auto;
  display: block;
  border-radius: 4px;
}
/* /iconos de redes sociales */

.icon {
  color: var(--brand-first-color);
  padding-left: 5px;
}

.contact-me {
  width: 100%;
  display: inline-flex;
  /* flex-direction: row; */
  justify-content: center;
  line-height: 1;
  list-style: none;
  text-align: center;
}

/* poner class 
li {
  list-style: none;
  text-align: center;
}*/
.dot::after {
  font-size: 16px;
  content: "∙";
  color: var(--text-main-color);
}

/* Código Susana */
.footerbox {
  /* border: solid; */

  justify-content: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-menu {
  font-size: 14px;
  margin-top: 10px;
  /* margin-right: 45px; */
  font-family: "Open Sans", sans-serif;
  font-style: bold;
  color: var(--text-main-color);
}
.footer {
  list-style: none;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}
.item1 {
  /* border: solid purple; */
  box-sizing: border-box;
}

.item2 {
  /* border: solid purple; */
  box-sizing: border-box;
}

.item3 {
  box-sizing: border-box;
}

.logo-copyname {
  display: flex;
  flex-direction: column;
}

.copy-name {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #b8b8b9;
  margin-top: 30px;
  text-align: center;
}

.logo {
  margin: 32px 101px 45px 102px;
  box-sizing: border-box;
  order: 2;
}

img {
  width: 100px;
}

@media all and (min-width: 768px) {
  .group-atributes-strenghts,
  .group-atributes-weaks {
    padding: 20px;
    width: 49%;
  }
  .article-two {
    display: flex;
  }
  .article-two::before {
    position: relative;
    left: 50%;
    transform: rotate(0deg);
  }
}
