<footer class="footerbox">
  <div class="copy-box">
    <div class="copy-name">
      <small class="small">Adawarriors &#169;2020</small>
    </div>
  </div>
  <div class="logo-menu-box">
    <nav class="footer-menu">
      <ul class="footer">
        <li class="item1"><a href="#team">EQUIPO</a></li>
        <li class="item2"><a href="#about-us">QUIÉNES SOMOS</a></li>
        <li class="item3"><a href="../contact.html">CONTACTO</a></li>
      </ul>
    </nav>
    <div class="logo">
      <img src="./assets/images/logo-adalab.jpg.jpg" alt="logo-adalab" />
    </div>
  </div>
</footer>
