<main class="main">

<h1 class="main__h1">Contacto</h1>
<div class="main__p">
<p class="p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui neque quidem nisi iure dolore quis quia quam </p>

<small class="main__p__small">Todos los campos marcados con <span class="main__required">*</span> son obligatorios</small>
</div>

<form class="main__form" action="/signup" method="post">

<label for="name">Nombre Completo<span class="main__required">*</span></label>
<input type="text" id="name" name="name" placeholder="Nombre..." required/>

<fieldset class="form__fieldset">
<label for="email">Email <span class="main__required">*</span></label>
<input type="email" id="email" name="email" placeholder="nombre.apellidos@mail.com" required/>

<label for="telephone">Teléfono</label>
<input type="tel" id="telephone" name="telephone"/>
</fieldset>

<label for="comments">Mensaje<span class="main__required">*</span></label>
<textarea id="comments" name="comments" row="10" cols="50" placeholder="¿Qué necesitas?" required></textarea>

<input class="form__submit" type="submit" value="Enviar"/>



</form>
</main>