.main {
  // general styles
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px 60px 15px;
  height: 810px;
  width: 100%;
  font-family: "Open Sans";

  // title styles
  &__h1 {
    color: $firstColor;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    width: 127px;
    height: 45px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.88;
  }

  // parragraph and small text
  &__p {
    width: 290px;
    height: 144px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: $textMainColor;
    box-sizing: content-box;

    &__small {
      font-size: 12px;
    }
  }

  &__required {
    font-size: 12px;
    color: $secondColor;
  }

  // required
  &__required {
    font-size: 12px;
    color: $secondColor;
  }

  &__form {
    // max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
  }
}

.p {
  margin-bottom: 25px;
}
.column {
  display: flex;
  flex-direction: column;
}
// form inner style
// .form__fieldset {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   border: none;
// }
// form inner -name
.form__fielset__name {
  width: 100%;
  width: 290px;
  height: 45px;
  padding: 11px 0 11px 15px;
  &::placeholder {
    color: #b8b8b9;
  }
}
// form inner -email
.form__fielset__email {
  width: 100%;
  width: 290px;
  height: 45px;
  padding: 11px 0 11px 15px;
  &::placeholder {
    width: 218px;
    height: 22px;
    color: #54585a;
    font-size: 16px;
  }
}
// form inner -telephone
.form__fielset--telephone {
  width: 100%;
  width: 290px;
  height: 45px;
  padding: 11px 0 11px 15px;
  &::placeholder {
    color: #b8b8b9;
  }
}
// form inner -textarea
.textarea {
  width: 290px;
  height: 105px;
  padding: 11px 19px 0px 15px;
  &::placeholder {
    color: #b8b8b9;
    font-size: 14px;
  }
}
// form inner -labels
.label {
  height: 19px;
  margin: 13px 0 7px;
  font-family: "Open Sans";
  font-size: 14px;
  color: #54585a;
}
// form inner -send
.form__submit {
  margin-top: 32px;
  width: 290px;
  height: 45px;
  border-radius: 4px;
  background-color: $firstColor;
  color: white;
  text-transform: uppercase;
  border: none;
  transition: background-color ease-in 1s;
  
  &:hover{
background-color: $secondColor;

  }
}

@media all and (min-width: 768px) {
  // form inner -email
  .form__fielset__email,
  .form__fielset__name,
  .form__fielset--telephone,
  .textarea {
    width: 442px;
  }
  .form__submit {
    width: 206px;
    height: 45px;
    position: relative;
    left: 237px;
  }
  .main__p {
    width: 442px;
    height: 120px;
    padding-top: 15px;
  }
}
@media all and (min-width: 1200px) {
  .main__p {
    width: 601px;
    height: 96px;
    padding-top: 15px;
  }
  .form__fielset__email {
    width: 395px;
  }
  .form__fielset--telephone {
    width: 162px;
  }
  .textarea,
  .form__fielset__name {
    width: 601px;
  }
  .form__submit {
    width: 206px;
    height: 45px;
    position: relative;
    left: 393px;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    text-align: left;
  }
  .column {
    padding: 0 0.7em 0em 1em;
    display: flex;
    flex-direction: column;
  }
  .column.left {
    transform: translatex(-15px);
  }
}
