/*TRIANGULITO*/
.article-two::before {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 25px solid white;
  border-right: 22px solid transparent;
  border-left: 22px solid transparent;
  position: relative;
  top: 20px;
}

.article-one,
.article-two {
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
  color: var(--text-main-color);
  width: 100%; /*320px;*/ /* width: 100% cuando el responsive?*/
  height: auto;
  display: block;
  margin-top: 50px;
}

.team-description {
  font-family: "Rubik";
  font-weight: 500;
  color: var(--brand-second-color);
  text-align: center;
  margin: 30px 30px 15px 30px;
}

.article-two {
  background: rgba(184, 184, 185, 0.2);
  padding-bottom: 30px;
}

.group-atributes {
  font-family: "Open Sans";
  color: var(--brand-first-color);
  text-align: center;
  font-size: 22px;
  padding-top: 20px;
}
