/*TRIANGULITO*/
.article-two::before {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 25px solid white;
  border-right: 22px solid transparent;
  border-left: 22px solid transparent;
  position: relative;
  top: 20px;

  @media all and (min-width: 768px) {
    left: 50%;
    transform: translate(-25px, -20px);
    position: absolute;
  }
}

.article-one,
.article-two {
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
  color: $firstColor;
  width: 100%;
  height: auto;
  display: block;
  margin-top: 50px;

  p {
    text-align: center;
    color: black;
    margin: 15px 10px 15px 10px; /*HERENCIA??*/
    font-family: "Open Sans"; /*BUSCAR LA HERENCIA" */
    font-size: 16px;
    line-height: 1.5;

    @media all and (min-width: 768px) {
      margin: 15px 0px 15px 0px;
    }
    @media all and (min-width: 1200px) {
      max-width: 600px;
    }
  }
}

.team-description {
  font-family: "Rubik";
  font-weight: 500;
  color: $secondColor;
  text-align: center;
  margin: 30px 30px 15px 30px;
}

.article-two {
  background: rgba(184, 184, 185, 0.2);
  padding-bottom: 30px;
}

.group-atributes {
  font-family: "Open Sans";
  color: $firstColor;
  text-align: center;
  font-size: 22px;
}

.descript-media-l {
  padding-right: 15px;
}
.descript-media-r {
  padding-left: 15px;
}
